<section class="content">
    <table style="display: none" class="content__item table"> 
        <caption class="table__caption">
            <div class="table__caption-left"> 
                <select class="table__select">
                    <option value="rOrder">Recent order</option>
                    <option value="rOrder1">Recent order1</option>
                    <option value="rOrder2">Recent order2</option>
                </select>
            </div> 
            <div class="table__caption-right" > 
                <button type="button" class="table__refresh"><i class="fa fa-repeat"></i></button>
                <button type="button" class="table__sort"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="table__close"><i class="fa fa-times"></i></button>
            </div> 
        </caption>  
        <tr>
            <td>
                <table class="table__in">
                    <thead class="table__thead">
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th> Product Code</th>
                            <th>Status </th>
                            <th>Purchased On</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Tracking No#</th>
                        </tr>
                    </thead>
                    <tbody class="table__tbody">
                        <tr>
                            <td><img src="img/medal.png" alt="medal"></td>
                            <td>Your Product Title Here</td>
                            <td>3BSD59</td>
                            <td><b>Paid</b></td>
                            <td>27 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td>#BG6R9853LP</td>
                        </tr>   
                        <tr>
                            <td><img src="img/book.png" alt="book"></td>
                            <td>Your Product Title Here</td>
                            <td>3BH87G</td>
                            <td><b>Pending</b></td>
                            <td>08 Sep 2015</td>
                            <td>$99.00</td>
                            <td>2</td>
                            <td>#368QRM83B</td>
                        </tr>  
                    </tbody>
                </table>
            </td>
        </tr>               
    </table>  
    <h2 class="content__item home" style="display: none">Heare is Home page</h2> 
    <div class="content__item all-site" style="display: none"><p>Heare is All Site View</p></div> 
</section>