<aside class="sidebar">
    
    <a href="javascript:void(0);" class="sidebar__logo">Company</a>
    <div class="sidebar__user user">
        <button type="button" class="user__photo"><img src="img/user.png" alt="user"></button>
        <div class="user__about">
            <p class="user__name">user name</p>
            <p class="user__company">Company name</p>
        </div>
    </div>
    <h2 class="sidebar__h2">General</h2>
    <div class="sidebar__dashboard dashboard">
        <button type="button" class="dashboard__header"><i class="fa fa-tachometer" aria-hidden="true"></i><p>Dashboard</p></button>
        <ul class="dashboard__items">
            <li class="dashboard__item"><a href="javascript:void(0);">Dashboard 1</a></li>
            <li class="dashboard__item"><a href="javascript:void(0);">Dashboard 2</a></li>
            <li class="dashboard__item"><a href="javascript:void(0);">Dashboard 3</a></li>
            <li class="dashboard__item"><a href="javascript:void(0);">Comming Soon</a></li>
        </ul>
    </div>
    <ul class="sidebar__links links">
        <li class="links__item">
            <a href="javascript:void(0);"><i class="fa fa-desktop" aria-hidden="true"></i><span>Layouts</span></a>
        <li class="links__item">
            <a href="javascript:void(0);"><i class="fa fa-folder-open-o" aria-hidden="true"></i><span>Pages</span></a>
        </li>
        <li class="links__item">
            <a href="javascript:void(0);"><i class="fa fa-commenting" aria-hidden="true"></i><span>Message</span><div>09</div></a>
        </li>
    </ul>

</aside>