<header class="topbar">
    <button type="button" class="topbar__icon hvr-ripple-out "></button>
    <ul class="topbar__nav nav">
        <li class="nav__item"><a href="javascript:void(0);">Dashboard / </a></li>
        <li class="nav__item"><a href="javascript:void(0);"> Home / </a></li>
        <li class="nav__item"><a href="javascript:void(0);"> All Site View</a></li>
    </ul>
    <div class="topbar__period period">
        <span class="period__header">Reporting Period</span>
        <select class="period__select">
            <option class="period__item" value="30d" selected disabled>Last 30 Day’s </option>
            <option class="period__item" value="20d">Last 20 Day’s </option>
            <option class="period__item" value="10d">Last 10 Day’s </option>
        </select>
    </div>
</header>